option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "cd backend && npm start"
    GzipCompression: true
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /audio: backend/audio
    /static: frontend/build/static

